.wrapper {
    width: 100%;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow-y: overlay;
    padding-bottom: 100px;
}

.container {
    background-color: var(--background);
    width: 1200px;
    color: var(--text);

    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.top-game {
    width: 100%;
    margin-top: 20px;
    padding-left: 10px;
}

.num {
    font-weight: bold;
    margin-right: 5px;
}

.top-game-list {
    display: flex;

    div {
        margin: 10px;
    }
}

.sort-games {
    width: 100%;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        margin-right: 10px;
    }

    .label {
        cursor: pointer;
        font-size: 1.6rem;
        &:hover {
            color: white;
        }

        .label-icon {
            margin-right: 10px;
            color: var(--primary);
        }
    }
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    border-bottom: 1px solid var(--text);
}

.show-list {
    display: flex;
    flex-wrap: wrap;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 636px) {
  
    .show-list{
        flex-direction: column;
        width: 100%;

        a{
            width: 100%;
        }
    }

    .container{
        width: 100%;
    }

    .header{
        display: none;
    }

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 950px) {

    .show-list{
        flex-direction: row;
        width: 100%;

        a{
            width: 50%;
        }
    }

    .container{
        width: 100%;
    }

    .header{
        display: none;
    }


}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .show-list{
        flex-direction: row;
        width: 100%;

        a{
            width: calc(100%/3);
        }
    }

    .container{
        width: 100%;
    }

    .header{
        display: none;
    }

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 950px) {

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
   
}

